@import url('../styles/index.css');

#logo-office {
  margin: 1em auto;
  height: 75px;
  cursor: var(--cursor-auto);
  margin-bottom: 0;
}

h2 {
  text-align: center;
  padding: 0.3em 0.5em;
  margin-bottom: 10px;
}

#play-button {
  display: block;
  margin: 8px auto;
  width: 100px;
  height: 52px;
  border: none;

  background-image: url('../assets/play-button.svg');
  background-color: transparent;

  cursor: var(--cursor-pointer);
}

#play-button:hover {
  background-image: url('../assets/play-button-hover.svg');
}

#play-button:active {
  background-image: url('../assets/play-button-active.svg');
}

.hover-buzz-out {
  max-height: 32px;
}

footer {
  margin: 0.6em auto;
  
  font-size: 23px;

  -webkit-user-select: none;
  user-select: none;
}

footer > p {
  margin: 0.5em auto;
}
